<!-- Headerを読み込む -->
<%- include('../components/header') %>

<!-- 3Dモデルを読み込むJavaScriptファイルを読み込む -->
<!-- 3dMotion.html -->
<!-- コンテンツ -->

<div class="page_title">
  <h1>加速度センサーを使った3Dモデル制御</h1>
</div>
<div class="content">
  <div class="content_item">
    <h2>Test</h2>
    <div id="container"></div>
    <!-- 変更を反映するボタン -->
    <button id="applyChangesButton">変更を反映する</button>
  </div>
</div>
<div class="content">
  <div class="content_item">
    <h1>加速度データ取得</h1>
    <div>
      <label for="urlInput">リクエスト先URL:</label>
      <input
        class="textInput"
        type="text"
        id="urlInput"
        placeholder="URLを入力してください"
      />
      <button id="startButton">通信開始</button>
      <button id="stopButton">通信停止</button>
    </div>

    <div id="acceleration">
      <table>
        <tr>
          <th></th>
          <th>X</th>
          <th>Y</th>
          <th>Z</th>
        </tr>
        <tr>
          <td>加速度</td>
          <td id="xValue">未取得</td>
          <td id="yValue">未取得</td>
          <td id="zValue">未取得</td>
        </tr>
      </table>
    </div>
  </div>

  <div class="content_item">
    <h3>3Dモデル描画</h3>
    <!-- // 3Dモデルを表示させるcanvas要素を作成 -->
    <!-- <canvas id="canvas"></canvas> -->
    <input type="file" id="modelFileInput" style="display: none" />
    <button id="selectModelButton">3Dモデルを選択</button>
  </div>
</div>

<canvas id="CanvasArea"></canvas>

<!-- ページ固有のスタイルの読み込み -->
<link rel="stylesheet" href="/stylesheets/pages/3dMotion.css" />

<!-- Three.jsの読み込み -->
<script src="javascripts/module/three.min.js"></script>
<script src="javascripts/module/GLTFLoader.js"></script>
<script src="javascripts/module/DRACOLoader.js"></script>

<!-- 3dMotion.jsの読み込み -->
<script type="module" src="javascripts/pages/3dMotion.js"></script>

<!-- monacoEdito関連r -->
<script type="module" src="javascripts/editor/editor.js"></script>
<script src="javascripts/module/monaco-editor/min/vs/loader.js"></script>
<!-- Footerを読み込む -->
<%- include('../components/footer') %>
