<!-- Headerを読み込む -->
<%- include('../components/header') %>

<div class="page_title">
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
</div>

<div class="content">
  <div class="content_item">
    <h2>概要</h2>

    <h3>授業時間</h3>
    <table>
      <tr>
        <td>09:30~11:00</td>
        <td>1限目限業</td>
      </tr>
      <tr>
        <td>11:10~12:40</td>
        <td>2限目限業</td>
      </tr>
    </table>

    <h3>1限目授業</h3>
    <h4>目標</h4>
    <p>IoTとその連携についての理解を目指します。</p>
    <h4>内容</h4>
    <p>IoTシステムとAIの関係について</p>
    <ul>
      <li>
        AIサービスが端末のみで動作しているのではなく、外部サーバーとの連携が基本的であることを説明します。
      </li>
    </ul>
    <p>
      AIによる3D生成
    </p>
    <ul>
      <li>
        テキストからシェイプを生成するAIモデルの存在や仕組みについて解説します。
      </li>
    </ul>
    <p>
      3Dモデルを実際に生成
      <ul>
        <li>
          プロンプトやスマートフォンで撮影した写真からシェイプを作成するデモンストレーションを行います。
        </li>
      </ul>
    </p>

    <h3>2限目授業</h3>
    <h4>目標</h4>
    <p>1時間目で作成した3Dモデルをスマートフォンの加速度センサーを使用して制御するプログラムを作成します。</p> 
    <h4>内容</h4>
    <p>
      3Dモデルの描画
      <ul>
        <li>
          1限目で作成した3Dモデルを選択して描画します。
        </li>
      </ul>
    </p>
    <p>
      演習問題
      <ul>
        <li>
          3Dモデルの制御に関するプログラミング
        </li>
      </ul>
    </p>
    <!-- <video width="480" height="270" controls>
      <source src="/videos/sample.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video> -->
  </div>
</div>
<!-- ページ固有のスタイルの読み込み -->
<link rel="stylesheet" href="/stylesheets/pages/index.css" />
<!-- Footerを読み込む -->
<%- include('../components/footer') %>
