<!-- Headerを読み込む -->
<%- include('../components/header') %>

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<h2>概要…</h2>


<!-- ページ固有のスタイルの読み込み -->
<link rel="stylesheet" href="/stylesheets/pages/index.css">
<!-- Footerを読み込む -->
<%- include('../components/footer') %>
