<!-- Headerを読み込む -->
<%- include('../components/header') %>

<div class="page_title">
  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>
</div>

<div class="content">
  <div class="content_item">
    <h2>内容_1</h2>
  </div>
</div>

<!-- ページ固有のスタイルの読み込み -->
<link rel="stylesheet" href="/stylesheets/pages/LectureDocuments.css">
<!-- Footerを読み込む -->
<%- include('../components/footer') %>
