<!-- Headerを読み込む -->
<%- include('../components/header') %>

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>

<h2>内容_1</h2>

<!-- ページ固有のスタイルの読み込み -->
<link rel="stylesheet" href="/stylesheets/pages/LectureDocuments.css">
<!-- Footerを読み込む -->
<%- include('../components/footer') %>
