<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/global.css">
    <link rel="stylesheet" href="/stylesheets/components/Header.css">
    <link rel="stylesheet" href="/stylesheets/components/Footer.css">
  </head>
  <body>
    <header class="header">
        <div class="logo-container">
            <a href="/" class="logo">竹内研究室</a>
        </div>
        <nav class="nav">
            <ul class="nav_list">
                <li class="nav_item">
                    <a href="/3dMotion">3Dモデル制御</a>
                </li>
                <li class="nav_item">
                    <a href="/3dCreate">3Dモデル作成</a>
                </li>
                <li class="nav_item">
                    <a href="/LectureDocuments">授業資料</a>
                </li>
            </ul>
        </nav>
    </header>
