#glCanvasContainer {
  display: flex;
  justify-content: center;
}

#container {
  width: 100%; /* 画面幅の80%に設定 */
  max-width: 800; /* 最大幅を800pxに制限 */
  height: 60vh; /* 画面の高さの60%に設定 */
  max-height: 600px; /* 最大高さを600pxに制限 */
  border: 1px solid grey;
}

#applyChangesButton{
  margin-top: 5vh;
}